# Markdown Safe Link - Github Action
# 2021.01

# default owners for everything in the repo
*       @markbattistella

# original *.bash iteration
# private repo https://github.com/markbattistella/markdown-safe-link-action-v1
# @georgeman93
